.process {
  max-height: 930px;
  padding: 93px 0;
}

.process__heading {
  width: 500px;
  margin: 0 auto;
}

.process__heading h3 {
  font-size: 30px;
  margin-bottom: 40px;
}

.process__heading p {
  font-size: 16px;
}

.process__body {
  text-align: center;
}

.process__body video {
  margin-top: 40px;
  width: 90%;
}

.services {
  min-height: 530px;
  background-color: #f5f5f5;
  padding: 90px;
}

.services .card {
  text-align: center;
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
}

.services .card img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 44px;
}

.services .card-title {
  text-transform: uppercase;
  font-size: 12px;
}

.services .card-text {
  font-size: 16px;
}

.testimonials {
  background-color: #10c9c3;
  height: 500px;
}

.testimonials__body {
  height: 100%;
  padding: 40px 0;
}

.quote-desk {
  height: 420px;
  width: 820px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.quote-desk .quote {
  font-size: 24px;
  color: #fff;
  line-height: 36px;
}

.quote-desk .author {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.dot {
  display: inline-block;
  max-width: 5px!important;
  height: 5px!important;
  border-radius: 50%;
  align-self: center;
}

.dot.active {
  max-width: 8px!important;
  height: 8px!important;
}
